body {
    background-image: linear-gradient(#EDF4EC, #C6E2E8)
}

#Title, #Slogan {
    /* display: block; */
    /* position: absolute; */
    /* position: relative;
    top: 50%;
    left: 50%;
    transform-box: translate(-50%, -50%);
    border: 8pt; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

#Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    font-size: 125;
    font-style: italic;
    /* font-weight: bold; */
    /* color: #ffffff; */
    /* transform: translate(0, -50%); */
    /* transform: translate(50%, 50%); */
    /* align-items: center; */
}

#Slogan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    font-weight: lighter;
    margin: -8% 0 0 4.5%;
    font-size: 53;
}